@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

header {
  background-color: #EB6440;
}

li {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 14px;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 350px;
}

.navmenu {
  display: flex;
  align-items: center;
  gap: 60px;
  margin-right: 350px;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  
font-size: 15px;
}


.nav-link {
  transition: 0.5s;
}

.nav-link:hover {
  color: rgb(255, 255, 255);
}

.hamburguer {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 28px;
  height: 3px;
  border-radius: 2px;
  margin: 5px auto;
  background-color: rgb(0, 0, 0);
  transition: 0.3s ease-in-out;
}

.gradeum{
  display: flex;
  justify-content: center;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
}
.gradedois{
  display: flex;
  justify-content: center;
}
.gradetres{
  display: flex;
  justify-content: center;
}
.gradequatro{
  display: flex;
  justify-content: center;
}
.gradecinco{
  display: flex;
  justify-content: center;
}
.gradeseis{
  display: flex;
  justify-content: center;
}
.gradesete{
  display: flex;
  justify-content: center;
}

img{
  max-width: auto;
}
footer{
  background-color: #EB6440;
  padding: 20px;
  text-align: center;
margin-top: 50px;  
}

@media (max-width: 768px) {

  .logo {
    font-size: 1.3rem;
    margin-left: 20px;
  }

  .grade{
    height: auto;
    width: auto;
  }

  .hamburguer {
    display: block;
  }

  .hamburguer.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburguer.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburguer.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .navmenu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    border-radius: 0 0 20px 20px;
    background-color: #EB6440;
    align-items: center;
    flex-direction: column;
    width: 100%;
    transition: 0.3s;
  }

  .nav-item {
    margin: 10px 0;
  }

  .navmenu.active {
    left: 0;
  }
  .responsivo {
    display: block;
    display: grid;
    place-items: center;
  }
}
